.orange {
    color: orange;
}

.profile {
    width: 300px;
    text-align: center;
    padding: 1rem;
    background-color: whitesmoke;
    box-shadow: 1px 2px 10px black;
    border-radius: 10px;
    margin: 1rem;
}

.avartar {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.new {
    position: absolute;
    top: 10%;
    right: 1%;
    background-color: orange;
    padding: 10px;
}

.appCounter {
    width: 100%;
    text-align: center;
}

.counter {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px solid orange;
    margin: auto;
    padding: 20px;
}

.number {
    font-size: 100px;
}
